.chat-container{
    overflow-y: hidden;

    .chat {
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        height: 100%;

        center {
            height: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 150px;
            }
        }
        // #empty-data-icon {
        //     margin: auto;
        // }
    }
    width: 100%;
    flex-grow: 1;

    padding: 35px 35px 0 26px;

    display: flex;
    flex-direction: column;

}